<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngFor="let menuItem of menuList">
      <app-menu-item [text]="menuItem.text" [icon]="menuItem.icon" [route]="menuItem.route" ></app-menu-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
      </button>
      <span>My University</span>
    </mat-toolbar>
    <!-- Routing Module Page: -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
